CherryPy==3.6.0
Flask==0.10.1
Flask-HTTPAuth==2.3.0
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
appdirs==1.4.0
apsw==3.8.5-r1
configobj==5.0.6
itsdangerous==0.24
json-rpc==1.8.1
pycoin==0.52
pycrypto==2.6.1
qrcode==5.1
requests==2.5.1
simple-crypt==3.0.2
six==1.9.0
